<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/create" method="post">
    <label for="first-name">First Name</label>
    <div>
      <input type="text" name="firstName" id="first-name" required>
    </div>
    <label for="last-name">Last Name</label>
    <div>
      <input type="text" name="lastName" id="last-name" required>
    </div>
    <label for="username">Username</label>
    <div>
      <input type="text" name="username" id="username" required>
    </div>
    <label for="password">Password</label>
    <div>
      <input type="text" name="password" id="password" required>
    </div>
    <label for="confirm-password">Confirm Password</label>
    <div>
      <input type="text" name="confirm-password" id="confirm-password" required>
    </div>
    <div>
      <button type="submit">Sign Up</button>
    </div>
  </form>
</body>
</html>