<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/new-password" method="post">
    <div class="input-container">
      <p class="password-form-title">
        New Password
      </p>
      <div>
        <label for="email">Email</label>
        <input type="text" id="email" name="email">
      </div>
      <div>
        <label for="temporary-password">Temporary Password</label>
        <input type="text" id="temporary-password" name="temporary-password" class="input">
      </div>
      <div>
        <label for="new-password">New Password</label>
        <input type="password" id="new-password" name="new-password" class="input">
      </div>
      <div>
        <label for="confirm-new-password">Confirm New Password</label>
      <input type="password" id="confirm-new-password" name="confirm-new-password" class="input">
      </div>
      <div>
        <button type="submit" class="change-password-btn">Change Password</button>
      </div>
    </div>
  </form>
</body>
</html>